#fox-sidemenu-content-wrap,fox-sidemenu-content,fox-sidemenus{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
fox-sidemenu{
	position: absolute;
	top: 0;
	bottom: 0;
	background: #fff;
}

fox-sidemenus{
	overflow: hidden;
}
fox-sidemenu{
	z-index: 0;
}
#fox-sidemenu-content-wrap{
	overflow: hidden;
	z-index: 2;
}
