
#fx-sidemenu-content-wrap,fx-sidemenu-content,fx-sidemenus{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
fx-sidemenu{
	position: absolute;
	top: 0;
	bottom: 0;
	background: #fff;
}

fx-sidemenus{
	overflow: hidden;
}
fx-sidemenu{
	z-index: 0;
}
#fx-sidemenu-content-wrap{
	overflow: hidden;
	z-index: 2;
}
